camel-ws/src/main/resources/TwitterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://samples.jakub.rauch.pl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TwitterServiceService" targetNamespace="http://samples.jakub.rauch.pl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://samples.jakub.rauch.pl/" elementFormDefault="unqualified" targetNamespace="http://samples.jakub.rauch.pl/" version="1.0">

  <xs:element name="findTweets" type="tns:findTweets"/>

  <xs:element name="findTweetsResponse" type="tns:findTweetsResponse"/>

  <xs:complexType name="findTweets">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTweetsResponse">
    <xs:sequence>
      <xs:element name="_return">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="findTweets">
    <wsdl:part element="tns:findTweets" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findTweetsResponse">
    <wsdl:part element="tns:findTweetsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TwitterService">
    <wsdl:operation name="findTweets">
      <wsdl:input message="tns:findTweets" name="findTweets">
    </wsdl:input>
      <wsdl:output message="tns:findTweetsResponse" name="findTweetsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TwitterServiceServiceSoapBinding" type="tns:TwitterService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findTweets">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findTweets">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findTweetsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwitterServiceService">
    <wsdl:port binding="tns:TwitterServiceServiceSoapBinding" name="TwitterServicePort">
      <soap:address location="http://0.0.0.0:8880/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>